<style>
    .contentBody__article { 
        background-color: #fff;
        color: #000;
        height: 100vh;
        position: relative;
    }
    .noContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="col s12 contentBody__article">
    <p class="text noContent">No content blocks added!</p>
</div>